


/* Header section style */
header {
    background-color: rgb(24, 49, 59);
    margin-bottom: 50px;
}
.logo {
    width: 80px;
    padding: 10px;
}

body {
  background-color:  rgb(40, 94, 116);
}
span {
    display: block;
}

.col-4 img {
  width: 150px;
}

.card-container {
  background-color: black;
  text-align: center;
  
}

.card-container span,
h5 {
  color: white;
}