* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header section style */
header {
  background-color: aquamarine;
}
.logo {
  width: 80px;
  padding: 10px;
}
span {
  display: block;
}

.col-4 img {
  width: 150px;
}



.card-container {
  background-color: black;
  text-align: center;
}

.card-container span,
h5 {
  color: white;
}
