* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header section style */
header {
    background-color: aquamarine;
}
.logo {
    width: 80px;
    padding: 10px;
}
span {
    display: block;
}